<!-- Carrousel People -->
<section class="section swiper-container swiper-slider swiper-slider-minimal" data-loop="true" data-slide-effect="fade"
  data-autoplay="4759" data-simulate-touch="true">
  <div class="swiper-wrapper">
</section>
<!-- Type -->
<section class="section novi-background section-md text-center">
  <div class="container">
    <h3 class="text-uppercase">Type</h3><hr>
    <div class="row row-lg-50 row-35 offset-top-2" id="propertyType">
    </div>
    <br>
    <div class="col-md-12 wow-outer"></div>
  </div>
</section>
<!-- Most visited -->
<section class="section novi-background section-md text-center">
  <div class="container">
    <h3 class="text-uppercase">Most Visited</h3><hr>
    <div class="row row-lg-50 row-35 offset-top-2" id="mostVisited">
    </div>
    <br>
    <div class="col-md-12 wow-outer">
    </div>
</section>
<!-- Category -->
<section class="section novi-background section-lg text-center" id="category_html">
  <div class="container">
    <h3 class="text-uppercase">Residential property categories</h3><hr>
    <p><span class="text-width-1">At our agency, we work with various types of residential real estate property. You can
        find out more about our properties by browsing our website.</span></p><br><br>
    <div class="row row-35 row-xxl-70 offset-top-2">
  </div>
</section>
<!-- Last Visited -->
<section class="section novi-background section-md text-center">
  <div class="container">
    <h3 class="text-uppercase">Last Visited</h3><hr>
    <div class="row row-lg-50 row-35 offset-top-2" id="lastVisited">
    </div>
    <br>
    <div class="col-md-12 wow-outer">
    </div>
</section>
<!-- Operation -->
<section class="section novi-background section-lg bg-gray-100">
  <div class="container">
    <div class="row row-30" id="containerOperation">
    </div>
  </div>
</section>
<!-- City -->
<section class="section novi-background section-md text-center">
  <div class="container">
    <h3 class="text-uppercase">Popular Cities</h3><hr>
    <div class="row row-lg-50 row-35 offset-top-2" id="propertyContainer">
    </div>
    <br>
    <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#">view More properties</a></div>
  </div>
</section>
<!-- Extras -->
<section class="section novi-background section-lg text-center bg-gray-100">
  <div class="container">
    <h3 class="text-uppercase">Extras</h3><hr>
    <div class="row row-lg-50 row-35 row-xxl-70 justify-content-center justify-content-lg-start">
    </div>
  </div>
</section>
<!-- Recomendations -->
<section class="section novi-background section-md text-center">
  <div class="container">
    <h3 class="text-uppercase">Recomendations</h3><hr>
    <div class="row row-lg-50 row-35 offset-top-2" id="propertyRecomendation">
    </div>
    <br>
    <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#">All properties</a></div>
  </div>
</section>
<!-- Best offer-->
<!--<section class="section novi-background section-1 bg-primary-darker text-center"
  style="background-image: url(views/images/bg-1-1920-455.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-7 col-xl-6">
        <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">Best offers</span></h3>
        <p class="heading-subtitle">of September</p>
        <p class="wow-outer offset-top-4"><span class="wow slideInDown" data-wow-delay=".05s">With a variety of
            accountants available at our company, you can always choose one that fits your corporate
            requirements.</span></p>
        <div class="wow-outer button-outer"><a class="button button-primary-white button-winona wow slideInDown"
            href="#" data-wow-delay=".1s">Read more</a></div>
      </div>
    </div>
  </div>
</section>
<section class="section novi-background section-lg text-center">
  <div class="container">
    <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">Testimonials</span></h3>
    Owl Carousel
    <div class="owl-carousel wow fadeIn" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true"
      data-nav="false" data-loop="true" data-autoplay="true" data-autoplay-speed="731" data-autoplay-timeout="4268"
      data-margin="30" data-stage-padding="0" data-mouse-drag="false">
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-6-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Albert Webb</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>I have just bought an apartment in LA thanks to you and your brokers. Everything went smooth and easy, the
            price was quite affordable, and I’m sure I will use your services again in the future.</p>
        </div>
      </blockquote>
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-1-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Kelly McMillan</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>I have recently sold my rental property in Nelson via inHouse. Everything about the sale was made seamless
            by your team. You gave me great advice about what was necessary to expedite the sale.</p>
        </div>
      </blockquote>
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-2-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Harold Barnett</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope
            we can do business again in the future and I will recommend you to family and friends.</p>
        </div>
      </blockquote>
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-3-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Bill Warner</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>I have just sold a property with inHouse and I can’t thank them enough. Their team has great communication
            skills and they have regularly communicated with me throughout the whole process.</p>
        </div>
      </blockquote>
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-4-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Ann Lee</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>Your skilled team helped me make the dream of selling my old property a reality. The sale went smoothly,
            and I just closed on an ideal new place I am excited to call home. Thank you for your great services!</p>
        </div>
      </blockquote>
      <blockquote class="quote-classic">
        <div class="quote-classic-meta">
          <div class="quote-classic-avatar"><img src="views/images/testimonials-person-5-96x96.jpg" alt="" width="96"
              height="96" />
          </div>
          <div class="quote-classic-info">
            <cite class="quote-classic-cite">Peter Clarkson</cite>
            <p class="quote-classic-caption">Regular Client</p>
          </div>
        </div>
        <div class="quote-classic-text">
          <p>I have to say that inHouse has the best brokers we've ever worked with. Their professionalism, personality,
            attention to detail, responsiveness and ability to close the deal are outstanding!</p>
        </div>
      </blockquote>
    </div>
  </div>
</section> -->