<section class="section novi-background section-md text-center">
  <div class="container"><br/><br/>
    <h2 class="text-uppercase">Properties</h2><hr/>
    <div class="row row-lg-50 row-35 offset-top-2" id="properties_shop"></div><br/>
  </div>
</section>
<!-- <section class="section novi-background section-lg text-center" id="images_properties">
    <div class="container">
        <h2 class="post-modern-title">Property Title</h2><hr><br><br>
        <div class="row row-35 row-xxl-70 offset-top-2">
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="views/images/property1.webp" alt="Image 1" /></div>
            <div class="item"><img src="views/images/property2.webp" alt="Image 2" /></div>
            <div class="item"><img src="views/images/property3.webp" alt="Image 3" /></div>
            <div class="item"><img src="views/images/property4.webp" alt="Image 4" /></div>
            <div class="item"><img src="views/images/property5.webp" alt="Image 5" /></div>
        </div>
        <div class="property-details">
            <div class="property-type">Type: Apartment</div>
            <div class="property-category">Category: Luxury</div>
            <div class="icon-bathroom"><i class="fas fa-bath"></i> 2</div>
            <div class="icon-bedroom"><i class="fas fa-bed"></i> 3</div>
            <div class="property-operation">Operation: Sale</div>
            <div class="property-extras">Extras: Pool, Garage</div>
            <div class="property-city">City: New York</div>
            <div class="property-cadastral-reference">Cadastral Reference: 123456</div>
            <div class="property-square-meters">Square Meters: 120</div>
            <div class="property-price">Price: $500,000</div>
        </div>
        <div class="property-description">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</section> -->
