<section class="section novi-background section-1 bg-primary-darker text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-7 col-xl-6">
        <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
        <h2 class="wow-outer"><span class="wow slideInDown text-uppercase">Properties</span></h2>
        <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="section novi-background text-center" id="shop_div"></section>
<section class="section novi-background section-md text-center">
  <div class="container">
    <div class="row-lg-50 row-35 offset-top-2" id="properties_shop">
    </div>
    <br/>
  </div>
</section>
<section class="section novi-background text-center">
  <div class="container" id="images_properties"></div>
</section>
