
  <section class="section novi-background section-1 bg-primary-darker text-center" id="title_property">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-7 col-xl-6"><br><br><br>
          <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
          <h2 class="wow-outer"><span class="wow slideInDown text-uppercase">Properties</span></h2>
          <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">- - - - - - - - - - - - -</span></h3>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <div class="content-container"></div>
  <section class="section novi-background text-center" id="shop_div">
    <div class="row-lg-50 row-35 offset-top-2" id="properties_shop_details">
    </div>
  </section>
  <section class="section novi-background section-md text-center" id="div_list">
    <div class="row-lg-50 row-35 offset-top-2" id="properties_shop">
    </div>
    <div id="map-container">
      <div id="maps" style="height: 100%;"></div>
    </div>
  </section>
  <section class="section novi-background text-center">
    <div class="container" id="images_properties"></div>
  </section>
</div>
<div id="map-container_details">
  <div id="maps_details" style="height: 800px; width: 68%; margin: auto; margin-bottom: 1%;"></div>
</div>
<div id="pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    </ul>
  </nav>
</div>